<!DOCTYPE HTML>
<html>
<head>
<title>DSA_Visualiser</title>

{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</head>
<body>

<h1>DSA VISUALISER</h1>
<div class="login">
	<h2>Login</h2>
	<form method="POST" action="">
		{% csrf_token %}
		<input type="text" class="user active" id="email" name="email" placeholder="Username"/>
		<input type="password" class="lock active" id="password" name="password" placeholder="Password"/>
	
	
	<div class="login-bwn">
	   <input type="submit" value="Log in" />
	</div>
</form>
	<div class="login-bottom">
		
		
			<div class="clear"> </div></a>
				<div class="clear"> </div>
		
		<h4>Don't have an Account? </h4>
		<div class="reg-bwn"><a href="/register">REGISTER</a></div>
	</div>
  </div>




</body>
</html>