<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dashboard</title>
    {% load static %}
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">

    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>DSA Visualiser</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <!-- <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Linked List</a> -->
                    <!-- <ul class="collapse list-unstyled" id="pageSubmenu1"> -->
                        {% if "linkedListBo" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href>LL Basic Operations</a>
                        </li>
                        {% else %}
                        <li>
                            <a href>LL Basic Operations</a>
                        </li>    
                        {% endif %}
                        {% if "linkedListAppl" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href>LL Applications</a>
                        </li>
                        {% else %}
                        <li>
                            <a href>LL Applications</a>
                        </li>    
                        {% endif %}
                    <!-- </ul> -->
                </li>
                <li>
                    <!-- <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Stack</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2"> -->
                        {% if "stackBo" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href="/stack-BO">Stack Basic Operations</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/stack-BO">Stack Basic Operations</a>
                        </li>    
                        {% endif %}
                        {% if "stackAppl" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href="/stack-appl">Stack Applications</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/stack-appl">Stack Applications</a>
                        </li>    
                        {% endif %}
                    <!-- </ul> -->
                </li>
                <li>
                    <!-- <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Queue</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3"> -->
                        {% if "queueBo" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href="/queue-BO">Queue Basic Operations</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/queue-BO">Queue Basic Operations</a>
                        </li>    
                        {% endif %}
                        {% if "queueAppl" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href="/queue-appl">Queue Applications</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/queue-appl">Queue Applications</a>
                        </li>    
                        {% endif %}
                        
                    <!-- </ul> -->
                </li>
                <li>
                    <!-- <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Searching</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4"> -->
                        {% if "linearSearch" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href="/linear-search">Linear Search</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/linear-search">Linear Search</a>
                        </li>    
                        {% endif %}
                        {% if "binarySearch" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href>Binary Search</a>
                        </li>
                        {% else %}
                        <li>
                            <a href>Binary Search</a>
                        </li>    
                        {% endif %}
                    <!-- </ul> -->
                </li>
                <li>
                    <!-- <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sorting</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu5"> -->
                        {% if "insertionSort" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href="/insertion-sort">Insertion Sort</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/insertion-sort">Insertion Sort</a>
                        </li>    
                        {% endif %}
                        {% if "mergeSort" in history %}
                        <li style="background-color: #60d2f5;">
                            <a href="/merge-sort">Merge Sort</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/merge-sort">Merge Sort</a>
                        </li>    
                        {% endif %}
                        
                    <!-- </ul> -->
                </li>
            </ul>

            
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1fbfb8;">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #3f5292;">
                        <i class="fas fa-align-left"></i>
                        <span>Progress</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <label class="usr" style="text-align: center; vertical-align: bottom; font-size: larger; padding-top: 8px;" for="curr_username">Welcome {{ name }}</label>
                            </li>
                            <li class="nav-item ">
                                <a href="/logout"><button type="button" class="btn btn-danger" >Logout</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% if dashboard == 'stack' %}
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <a class="card mb-3 p-2" href="/stack-BO">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title" >Basic Operations</h4>
                                <!-- <p class="card-text" style="color: #0099CC;font-size:150%">A linked-list is a sequence of data structures which are connected together via links.</p> -->
                            </div>
                        </a>
                        
                        <a class="card mb-3 p-2" href="/stack-appl">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Application</h4>
                                <!-- <p class="card-text"  style="color: #9A3334;font-size:150%">A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle.</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% elif dashboard == 'queue' %}
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <a class="card mb-3 p-2" href="/queue-BO">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title" >Basic Operations</h4>
                                <!-- <p class="card-text" style="color: #0099CC;font-size:150%">A linked-list is a sequence of data structures which are connected together via links.</p> -->
                            </div>
                        </a>
                        
                        <a class="card mb-3 p-2" href="/queue-appl">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Application</h4>
                                <!-- <p class="card-text"  style="color: #9A3334;font-size:150%">A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle.</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% elif dashboard == 'linkedList' %}
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <a class="card mb-3 p-2" href="">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title" >Linear Search</h4>
                                <!-- <p class="card-text" style="color: #0099CC;font-size:150%">A linked-list is a sequence of data structures which are connected together via links.</p> -->
                            </div>        
                        </a>
                        
                        <a class="card mb-3 p-2" href="">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Binary Search</h4>
                                <!-- <p class="card-text"  style="color: #9A3334;font-size:150%">A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle.</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% elif dashboard == 'sorting' %}
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <a class="card mb-3 p-2" href="/insertion-sort">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title" >Insertion Sort</h4>
                                <!-- <p class="card-text" style="color: #0099CC;font-size:150%">A linked-list is a sequence of data structures which are connected together via links.</p> -->
                            </div>
                        </a>
                        
                        <a class="card mb-3 p-2" href="/merge-sort">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Merge Sort</h4>
                                <!-- <p class="card-text"  style="color: #9A3334;font-size:150%">A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle.</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% elif dashboard == 'searching' %}
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <a class="card mb-3 p-2" href="/linear-search">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title" >Linear Search</h4>
                                <!-- <p class="card-text" style="color: #0099CC;font-size:150%">A linked-list is a sequence of data structures which are connected together via links.</p> -->
                            </div>        
                        </a>
                        
                        <a class="card mb-3 p-2" href="/binary-search">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Binary Search</h4>
                                <!-- <p class="card-text"  style="color: #9A3334;font-size:150%">A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle.</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck" >
                        <a class="card mb-3 p-2" href="">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Linked List</h4>
                                <!-- <p class="card-text"  style="color: #CCFFCC;font-size:150%">Linear search is a very simple search algorithm. In this type of search, a sequential search is made over all items one by one.</p> -->     
                            </div>
                        </a>
                        <a class="card mb-3 p-2" href="/stack">
                        <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Stack</h4>
                                <!-- <p class="card-text"  style="color: #CCFFCC;font-size:150%">A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements.</p> -->
                        </div>
                        </a>
                        <a class="card mb-3 p-2" href="/queue">
                            <div class="card-block stretched-link text-decoration-none" >
                                <h4 class="card-title">Queue</h4>
                                <!-- <p class="card-text"  style="color: #CCFFCC;font-size:150%">A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements.</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck" >
                        <a class="card mb-3 p-2" href="/searching">
                            <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Searching</h4>
                                <!-- <p class="card-text"  style="color: #CCFFCC;font-size:150%">Linear search is a very simple search algorithm. In this type of search, a sequential search is made over all items one by one.</p> -->     
                            </div>
                        </a>
                        <a class="card mb-3 p-2" href="/sorting">
                        <div class="card-block stretched-link text-decoration-none">
                                <h4 class="card-title">Sorting</h4>
                                <!-- <p class="card-text"  style="color: #CCFFCC;font-size:150%">A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements.</p> -->
                        </div>
                        </a>
                        <a class="card mb-3 p-2" href="">
                            <div class="card-block stretched-link text-decoration-none" >
                                <h4 class="card-title">More Coming Soon</h4>
                                <!-- <p class="card-text"  style="color: #CCFFCC;font-size:150%">A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements.</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            {% endif %}
            <!-- <div class="card-columns">
                <div class="card bg-primary" style="cursor: pointer;">
                  <div class="card-body text-center">
                    <p class="card-text" style="color: white;">Some text inside the first card</p>
                  </div>
                </div>
                <div class="card bg-primary" style="cursor: pointer;">
                    <div class="card-body text-center">
                      <p class="card-text" style="color:white">Some text inside the first card</p>
                    </div>
                  </div>
            </div>
            <button type="button" class="btn  btn-primary" style="padding:5vh 10vw;">Linked List</button>
            <button type="button" class="btn  btn-primary" style="padding:5vh 10vw;">Linked List</button>
        
             -->
        
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>