<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dashboard</title>
    {% load static %}
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">

    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
       
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>DSA Examples</h3>
            </div>

            <ul class="list-unstyled components">
                {% if "Linked List" in history %}
                <li style="background-color: #0099CC;">
                    <a>Linked List</a>
                </li>
                {% else %}
                <li>
                    <a>Linked List</a>
                </li>    
                {% endif %}
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Stack</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% if "Stack Basic Operations" in history %}
                        <li style="background-color: #0099CC;">
                            <a>Basic Operations</a>
                        </li>
                        {% else %}
                        <li>
                            <a>Basic Operations</a>
                        </li>    
                        {% endif %}
                        {% if "Stack Applications" in history %}
                        <li style="background-color: #0099CC;">
                            <a>Applications</a>
                        </li>
                        {% else %}
                        <li>
                            <a>Applications</a>
                        </li>    
                        {% endif %}
                        
                    </ul>
                </li>
                {% if "Queue" in history %}
                <li style="background-color: #0099CC;">
                    <a>Queue</a>
                </li>
                {% else %}
                <li>
                    <a>Queue</a>
                </li>    
                {% endif %}
                {% if "Searching" in history %}
                <li style="background-color: #0099CC;">
                    <a>Searching</a>
                </li>
                {% else %}
                <li>
                    <a>Searching</a>
                </li>    
                {% endif %}
                {% if "Sorting" in history %}
                <li style="background-color: #0099CC;">
                    <a>Sorting</a>
                </li>
                {% else %}
                <li>
                    <a>Sorting</a>
                </li>    
                {% endif %}

            </ul>

            
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #003399;">
                        <i class="fas fa-align-left"></i>
                        <span>History</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="logo-image">
                                
                             <img src="{% static 'images/user.png' %}" class="img-fluid">
                              

                            </li>
                            <li class="nav-item">
                                <label class="usr" style="color: rgb(65, 73, 65); " for="curr_username">{{ name }}</label>
                            </li>
                            <li class="nav-item ">
                                <a href="/logout"><button type="button" class="btn btn-danger" style="background-color:#003399;">Logout</button></a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card p-2" style="background-color:  #003399;">
                            <a class="card-block stretched-link text-decoration-none"  href="">
                                <h4 class="card-title" style="text-align: center; color:  #66CCFF;font-size:300%" >Linked List</h4>
                                <p class="card-text" style="color: #0099CC;font-size:150%">A linked-list is a sequence of data structures which are connected together via links.</p>
                                
                            </a>
                        </div>
                        <div class="card p-2"  style="background-color: #217C7E">
                            <a class="card-block stretched-link text-decoration-none" href="/stack">
                                <h4 class="card-title" style="text-align: center; color:  #3399FF;font-size:300%">Stack</h4>
                                <p class="card-text"  style="color: #9A3334;font-size:150%">A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle.</p>
                                
                            </a>
                        </div>
                        <div class="card p-2"  style="background-color:  #0099CC;">
                            <a class="card-block stretched-link text-decoration-none" href>
                                <h4 class="card-title" style="text-align: center;color:  #66CCFF;font-size:300%">Queue</h4>
                                <p class="card-text"  style="color: #CCFFCC;font-size:150%">A Queue is a linear structure which follows a particular order in which the operations are performed. The order is First In First Out (FIFO).</p>
                                
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="container py-4">
                
                <div class="card-deck-wrapper">
                    <div class="card-deck" >
                        <div class="card p-2"  style="background-color: #9A3334;" style="width: 30%;" >
                            <a class="card-block stretched-link text-decoration-none" href="/linear-search">
                                <h4 class="card-title" style="text-align: center;color:  #66CCFF;font-size:300%">Linear Search</h4>
                                <p class="card-text"  style="color: #CCFFCC;font-size:150%">Linear search is a very simple search algorithm. In this type of search, a sequential search is made over all items one by one.</p>
                                
                            </a>
                        </div>
                        <div class="card p-2"  style="background-color:  #F3EFE0" style="width: 30%;" >
                            <a class="card-block stretched-link text-decoration-none" href>
                                <h4 class="card-title" style="text-align: center;color:  #66CCFF;font-size:300%">Binary Search</h4>
                                <p class="card-text"  style="color: #0099CC;font-size:150%"> Search a sorted array by repeatedly dividing the search interval in half.</p>
                                        
                                    </a>
                                </div>
                                
                            
                        
                        <div class="card p-2"  style="background-color: #FF9900;" style="width: 30%;" >
                            <a class="card-block stretched-link text-decoration-none" href>
                                <h4 class="card-title" style="text-align: center;color:  #9A3334;font-size:300%">Sorting</h4>
                                <p class="card-text"  style="color: #CCFFCC;font-size:150%">A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements.</p>
                                
                            </a>
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- <div class="card-columns">
                <div class="card bg-primary" style="cursor: pointer;">
                  <div class="card-body text-center">
                    <p class="card-text" style="color: white;">Some text inside the first card</p>
                  </div>
                </div>
                <div class="card bg-primary" style="cursor: pointer;">
                    <div class="card-body text-center">
                      <p class="card-text" style="color:white">Some text inside the first card</p>
                    </div>
                  </div>
            </div>
            <button type="button" class="btn  btn-primary" style="padding:5vh 10vw;">Linked List</button>
            <button type="button" class="btn  btn-primary" style="padding:5vh 10vw;">Linked List</button>
        
             -->
        
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>